ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }

  ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }

  li {
    float: right;
  }

  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px ;
    text-decoration: none;
  }

  li a:hover {
   
        border-bottom: 3px solid red;
  }