@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
  background: #1b1b1b;
}
.navbar.sticky{
  position: 10px 0;
  background: #1b1b1b;
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: cyan;
}
.banner{
  height: 75vh;
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.summary{
  padding: 40px 0;
}
.summary .title{
  font-size: 35px;
  font-weight: 700;
}
.summary p{
  padding-top: 20px;
  text-align: justify;
}
.portfolio {
  padding: 40px 0;
}
.portfolio .title{
  font-size: 35px;
  font-weight: 700;
}
.portfolio p{
  padding-top: 20px;
  text-align: justify;
}
.team {
  padding: 40px 0;
}
.team .title{
  font-size: 35px;
  font-weight: 700;
}
.team p{
  padding-top: 20px;
  text-align: justify;
}
.contact {
  padding: 40px 0;
}
.contact .title{
  font-size: 35px;
  font-weight: 700;
}
.contact p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color:#fff;
  font-size: 20px;
  cursor: pointer; 
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
@media (max-width:868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    background: #222;
    padding: 40px 0;
    display: block;
    text-align: center;
    transition: all 0.3s ease;
  }
  .navbar .menu-list.active{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
}
/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.energy {width: 38.54%; background-color: #000000;} /* Green */
.Agriculture {width: 36.97%; background-color: #000000;} /* Blue */
.basemetals {width: 13.03%; background-color: #000000;} /* Red */
.preciousmetals {width: 11.44%; background-color: #000000;} /* Dark Grey */