@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
custom scroll bar
::-webkit-scrollbar {
  width: 10px;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::selection{
background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 15px 0;
  transition: all 0.3s ease;
  background: #1b1b1b;
}
.navbar.sticky{
  position: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list li a:hover{
  color: cyan;
}
.banner{
  height: 75vh;
  background: url("banner.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-content: center;
  justify-content: center;
}
.summary{
  padding: 30px 0;
}
.summary .title{
  font-size: 38px;
  font-weight: 700;
}
.summary p{
  padding-top: 20px;
  text-align: justify;
}
.portfolio {
  padding: 30px 0;
}
.portfolio .title{
  font-size: 38px;
  font-weight: 700;
}
.portfolio p{
  padding-top: 20px;
  text-align: justify;
}
.team {
  padding: 30px 0;
}
.team .title{
  font-size: 38px;
  font-weight: 700;
}
.team p{
  padding-top: 20px;
  text-align: justify;
}
.contact {
  padding: 30px 0;
  margin-bottom: 32px;
}
.contact .title{
  font-size: 38px;
  font-weight: 700;
}
.contact p{
  padding-top: 20px;
  text-align: justify;
}
.icon{
  color:#fff;
  font-size: 20px;
  cursor: pointer; 
  display: none;
}
.menu-list .cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
  
}

@media (max-width:1230px){
  .content{
    padding: 0 20px;
  }
}
@media (max-width: 1100px) {
  .content{
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  .content{
    padding: 0 20px;
  }
}
@media (max-width:868px) {
  body.disabled{
    overflow: hidden;
  }
  .icon{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: #222;
    transition: all 0.3s ease;
  }
  .navbar.show .menu-list{
    left: 0%;
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  }
  .navbar.show .menu-list li a {
    margin-left: 0px;
  }
}
@media (max-width:380px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

.container {
  width: 100%; 
  background-color: #ddd; 
}

.skills {
  text-align: right; 
  padding-top: 10px; 
  padding-bottom: 10px; 
  color: white; 
}

.energy {width: 38.54%; background-color: #000000;} 
.Agriculture {width: 36.97%; background-color: #000000;} 
.basemetals {width: 13.03%; background-color: #000000;} 
.preciousmetals {width: 11.44%; background-color: #000000;} 

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 80px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.team_container{
  padding: 0 8px;
}

.team_container::after, .team::after{
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px 0;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

h3 {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid #000; 
  line-height: 0.1em;
  margin: 10px 0 64px; 
} 

h3 span { 
   background:#fff; 
   padding:0 10px; 
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #0e76a8;
  color: white;
}

.fa-instagram{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}

.content_socials{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
  text-align: center;
}

.overlay {
  width: 100%;
  padding: 8px;
  margin: auto;
  background-color: rgba(97, 97, 97, 0.7);
  border: 1px solid;
  border-image-slice: 1;
  border-width: 8px;
  border-image-source: linear-gradient(to bottom, #202021, #727173);
  box-sizing: border-box;
  float: left;
}
.title_banner{
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: white;
}

.value_banner {
  padding-top: 16px;
  font-size: 40px;
  font-weight: 200;
  text-align: justify;
  color: white;
}

.date_banner {
  font-size: 11px;
  font-weight: 800;
  text-align: left;
  color: rgb(200, 200, 200, 0.8);
}

.banner_overlay{
  display: grid;
  grid-template-columns: 250px 250px;
  grid-column-gap: 64px;
  grid-row-gap: 64px;
  align-self: center;
}

.about {
  padding-top: 8px;
  font-size: 16px;
  font-weight: 750;
  color: rgba(0, 0, 0, 0.35);
  text-align: left;
}